* {
    padding: 0;
    margin: 0;
  }

    .topnav {
    background-color: rgb(6, 6, 179);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0038d1;
    color: white;
  }

  .logo{
    padding-left: 5px;
    padding-right: 5px;
  }
  
  h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .homepage {
    padding-left: 10px;
    padding-right: 10px;
  }